<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">

    <title>Job Listings | Main</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="filter">
                Filter
            </div>
        </div>
    </header>

    <main class="content">
        <div class="container">
            <div class="job-listing">
                <article class="job-preview">
                    Photosnap
                    New!
                    Featured
                    Senior Frontend Developer
                    1d ago
                    Full Time
                    USA only
                    <!-- Role -->
                    Frontend
                    <!-- Level -->
                    Senior
                    <!-- Languages -->
                    HTML
                    CSS
                    JavaScript
                </article>

                <article class="job-preview">
                    Manage
                    New!
                    Featured
                    Fullstack Developer
                    1d ago
                    Part Time
                    Remote
                    <!-- Role -->
                    Fullstack
                    <!-- Level -->
                    Midweight
                    <!-- Languages -->
                    Python
                    <!-- Tools -->
                    React
                </article>

                <article class="job-preview">
                    Account
                    New!
                    Junior Frontend Developer
                    2d ago
                    Part Time
                    USA only
                    <!-- Role -->
                    Frontend
                    <!-- Level -->
                    Junior
                    <!-- Languages -->
                    JavaScript
                    <!-- Tools -->
                    React
                    Sass
                </article>

                <article class="job-preview">
                    MyHome
                    Junior Frontend Developer
                    5d ago
                    Contract
                    USA only
                    <!-- Role -->
                    Frontend
                    <!-- Level -->
                    Junior
                    <!-- Languages -->
                    CSS
                    JavaScript
                </article>

                <article class="job-preview">
                    Loop Studios
                    Software Engineer
                    1w ago
                    Full Time
                    Worldwide
                    <!-- Role -->
                    Fullstack
                    <!-- Level -->
                    Midweight
                    <!-- Languages -->
                    JavaScript
                    Ruby
                    <!-- Tools -->
                    Sass
                </article>

                <article class="job-preview">
                    FaceIt
                    Junior Backend Developer
                    2w ago
                    Full Time
                    UK only
                    <!-- Role -->
                    Backend
                    <!-- Level -->
                    Junior
                    <!-- Languages -->
                    Ruby
                    <!-- Tools -->
                    RoR
                </article>

                <article class="job-preview">
                    Shortly
                    Junior Developer
                    2w ago
                    Full Time
                    Worldwide
                    <!-- Role -->
                    Frontend
                    <!-- Level -->
                    Junior
                    <!-- Languages -->
                    HTML
                    JavaScript
                    <!-- Tools -->
                    Sass
                </article>

                <article class="job-preview">
                    Insure
                    Junior Frontend Developer
                    2w ago
                    Full Time
                    USA only
                    <!-- Role -->
                    Frontend
                    <!-- Level -->
                    Junior
                    <!-- Languages -->
                    JavaScript
                    <!-- Tools -->
                    Vue
                    Sass
                </article>

                <article class="job-preview">
                    Eyecam Co.
                    Full Stack Engineer
                    3w ago
                    Full Time
                    Worldwide
                    <!-- Role -->
                    Fullstack
                    <!-- Level -->
                    Midweight
                    <!-- Languages -->
                    JavaScript
                    Python
                    <!-- Tools -->
                    Django
                </article>

                <article class="job-preview">
                    The Air Filter Company
                    Front-end Dev
                    1mo ago
                    Part Time
                    Worldwide
                    <!-- Role -->
                    Frontend
                    <!-- Level -->
                    Junior
                    <!-- Languages -->
                    JavaScript
                    <!-- Tools -->
                    React
                    Sass
                </article>
            </div>
        </div>
    </main>

    <!-- <svg>
        <use href="./images/icons/sprite.svg#icon-cross"></use>
    </svg> -->


  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>